# Secret for products-api
apiVersion: v1
kind: Secret
metadata:
  name: products-api-db
type: Opaque
stringData:
  application.properties: |
    spring.jpa.database=POSTGRESQL
    spring.datasource.platform=postgres
    spring.datasource.url=jdbc:postgresql://products-db:5432/postgres
    spring.datasource.username=postgres
    spring.datasource.password=h4ckkath0n

---
# Secret for products-db password
apiVersion: v1
kind: Secret
metadata:
  name: products-db-password
type: Opaque
stringData:
  POSTGRES_PASSWORD: h4ckkath0n

---
# Secret for stock-api
apiVersion: v1
kind: Secret
metadata:
  name: stock-api-connection
type: Opaque
stringData:
  POSTGRES_CONNECTION_STRING: "host=products-db port=5432 user=postgres password=h4ckkath0n dbname=postgres sslmode=disable"

---
# Secret for web-api
apiVersion: v1
kind: Secret
metadata:
  name: web-api
type: Opaque
stringData:
  api.json: |
    {
      "Widgetario": {
        "ProductsApi": {
          "Url": "http://products-api.default.svc.cluster.local/products"
        },
        "StockApi": {
          "Url": "http://stock-api.default.svc.cluster.local/stock"
        }
      }
    }

---
# ConfigMap for web
apiVersion: v1
kind: ConfigMap
metadata:
  name: web-features
data:
  Widgetario__Theme: dark
